<div class="barmenu">
    <nav>
           <div class="logo">
               <img src="img/logo.png" alt="">
           </div>
           <ul>
               <button> Principal</button>
               <li><a href="#">Dasboard</a></li>
               <li><a href="#">Notification</a></li>
               <li><a href="#">Fichier</a></li>
               <li><a href="#">Etat de Santé</a></li>
                <li><a href="#">Ordonances</a></li>
               <button>Medecin</button>
               <li class= "icon" ><a href="#"></a><i class="fa-solid fa-house"></i></li>
               <li class= "icon"><a href="#"></a><i class="fa-regular fa-comment-dots"></i></li>
               <li class= "icon"><a href="#"></a><i class="fa-regular fa-user"></i></li>
               <li class= "icon"><a href="#"></a><i class="fa-regular fa-bookmark"></i></li>
               <li class= "setting-icon"><a href="#"></a><i class="fa-solid fa-gear"></i></li>
           </ul>
    </nav> 
    <div class="tableau">
       <div class="Dasboard">
            <div class="annonce">
            <h1> BIENVENUE SUR VOTRE DASHBORD</h1>
            </div>
           <div class="outil">
              <div class="statu1">
              <p class="stat1"> Votre carnet <br> digital<br> sanitaire</p>
                        <i  id="carnet" class=" fa-xl fa-brands fa-autoprefixer"></i>
              </div>
              <div class="statu">
              <p class="stat"> Medicament En cours</p>
              <i id="med" class=" fa-xl fa-solid fa-chart-pie"></i>
              </div>
               <div class="statu1">
               <p class="stat1"> Etat de  Santé</p>
                 <i id="etat" class=" fa-xl fa-brands fa-deezer"></i>
               </div>
              <div class="statu">
              <p class="stat">Ordonances</p>
              <i id="ord" class="fa-xl fa-solid fa-charging-station"></i>
           </div>
       </div> 
    </div>
    <div class="recap">
        <div class="barederecherche">
            <input type="text" placeholder="recherche"> <i id="shearch" class="fa-solid fa-magnifying-glass"></i>
            <div class="cloche"> <i id="clo"class="fa-regular fa-bell"></i></div>
            <div class="clo"><i id="cli" class="fa-solid fa-arrow-up-from-ground-water"></i></div>
       </div>
       <div class="doneruser">
           <h3>Recents</h3>
           <p>Tout voir</p>
       </div>
       <div class="hospi">
         <div class="hospicon"></div>
         <div class="nomhospi">
         <h2>Distric Nabil Soukér</h2>
         <p>www.nabilsouker.sn</p>
         </div>
         <button>Detail</button>
       </div>
       <div class="hospi">
         <div class="hospicon"></div>
         <div class="nomhospi">
         <h2>Distric Nabil Soukér</h2>
         <p>www.nabilsouker.sn</p>
         </div>
         <button>Detail</button>
       </div>
       <div class="hospi">
         <div class="hospicon"></div>
         <div class="nomhospi">
         <h2>Distric Nabil Soukér</h2>
         <p>www.nabilsouker.sn</p>
         </div>
         <button>Detail</button>
       </div>
   </div>
   </div>